#one {
  width: 100%;
  position: fixed;
  top: 3%;
  height: 15%;
  left: 0;
  background-color: #66ddff;
}

#two {
  width: 100%;
  position: fixed;
  top: 19%;
  height: 15%;
  left: 0;
  background-color: #66ddff;
}

#three {
  width: 100%;
  position: fixed;
  top: 35%;
  height: 15%;
  left: 0;
  background-color: #66ddff;
}

div div {
  opacity: .75;
  width: 14.3%;
  height: 100%;
  background-color: inherit;
  float: left;
}

#four {
  width: 100%;
  position: fixed;
  bottom: 3%;
  height: 14%;
  left: 0;
  background-color: #66ddff;
}

#five {
  width: 100%;
  position: fixed;
  bottom: 18%;
  height: 14%;
  left: 0;
  background-color: #66ddff;
}

#six {
  width: 100%;
  position: fixed;
  bottom: 33%;
  height: 14%;
  left: 0;
  background-color: #66ddff;
}

#four div, #five div, #six div {
  float: right;
}

#reset {
  position: fixed;
  width: 100%;
  height: 100%;
}
body{
    cursor: pointer;
}
h1{
    position: fixed;
    text-align: center;
    top: 39%;
    width: 100%;
    font-family: monospace;
    font-size: 80px;
    color: #66ddff;
}
