body {
	background-color: #efefef;
	}

header, #checkit, #palindrome, #result {
	font-family: "arial";
	position: absolute;
	z-index: 9000;
	left: 5%;
}
	
header {
	bottom: 5.25em;
	width: 95%;
	background-color: #fff;
	opacity: .75;
	left: 0;
	padding-left: 5%;
	height: 6.9em;
	padding-top: 0;
	margin-top: 0;
}
	
#checkit {
	bottom: 1.75em;
	margin-left: 7.75em;
	font-size: 3em;
	color: #8D8D8D;
	z-index: 9997;
	height: 1.15em;
	
}
	
h1 {
	font-size: 4.13em;
	opacity: .5;
	color: #bc3355;
	margin: 0;
	width: 50%;
}
	
header p {
	width: 23em;
	margin: 0;
	opacity: .7;
	margin-top: -1.5em;
}

#result {
	color: #bc3355;
	font-size: 2em;
	bottom: 1.9em;
	z-index: 9999;
	}
	
#palindrome {
	bottom: 1.75em;
	margin-left: 18.61em;
	font-size: 3em;
	color: #8D8D8D;
	z-index: 9998;
	}
